pipeline/cdc_pipeline.json
{
	"name": "cdc_pipeline",
	"properties": {
		"activities": [
			{
				"name": "cdc_lookup",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "adls_json",
						"type": "DatasetReference",
						"parameters": {
							"container": "source",
							"folder": "cdc_files",
							"file": "cdc.json"
						}
					},
					"firstRowOnly": true
				}
			},
			{
				"name": "new_record_count",
				"type": "Script",
				"dependsOn": [
					{
						"activity": "cdc_lookup",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"type": "Query",
							"text": {
								"value": "select count(*) as count from @{pipeline().parameters.schema}.\n@{pipeline().parameters.table}\nwhere last_updated > \n'@{if(equals(pipeline().parameters.back_date,'1900-01-01'),activity('cdc_lookup').output.firstRow.cdc_timestamp,pipeline().parameters.back_date)}'",
								"type": "Expression"
							}
						}
					],
					"scriptBlockExecutionTimeout": "02:00:00"
				}
			},
			{
				"name": "ProceedOrNot",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "new_record_count",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@greater(activity('new_record_count').output.resultSets[0].rows[0].count, 0)",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "Incremental_data_load",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderQuery": {
										"value": "select * from @{pipeline().parameters.schema}.\n@{pipeline().parameters.table}\nwhere last_updated > '@{if(equals(pipeline().parameters.back_date,'1900-01-01'),activity('cdc_lookup').output.firstRow.cdc_timestamp,pipeline().parameters.back_date)}'",
										"type": "Expression"
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureSqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "dynamic_csv_dataset",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "target",
										"folder_name": "incremental",
										"file_name": "file.csv"
									}
								}
							]
						},
						{
							"name": "Script1",
							"type": "Script",
							"dependsOn": [
								{
									"activity": "Incremental_data_load",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"linkedServiceName": {
								"referenceName": "AzureSqlDatabase1",
								"type": "LinkedServiceReference"
							},
							"typeProperties": {
								"scripts": [
									{
										"type": "Query",
										"text": {
											"value": "select max(last_updated) as cdc_timestamp from @{pipeline().parameters.schema}.@{pipeline().parameters.table}",
											"type": "Expression"
										}
									}
								],
								"scriptBlockExecutionTimeout": "02:00:00"
							}
						},
						{
							"name": "max_timestamp_update",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "Script1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "cdc_timestamp",
											"value": {
												"value": "@activity('Script1').output.resultSets[0].rows[0].cdc_timestamp",
												"type": "Expression"
											}
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "JsonSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings",
										"copyBehavior": "FlattenHierarchy"
									},
									"formatSettings": {
										"type": "JsonWriteSettings"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "adls_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "source",
										"folder": "cdc_files",
										"file": "empty.json"
									}
								}
							],
							"outputs": [
								{
									"referenceName": "adls_json",
									"type": "DatasetReference",
									"parameters": {
										"container": "source",
										"folder": "cdc_files",
										"file": "cdc.json"
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"table": {
				"type": "string",
				"defaultValue": "Orders"
			},
			"schema": {
				"type": "string",
				"defaultValue": "source"
			},
			"back_date": {
				"type": "string",
				"defaultValue": "1900-01-01"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-07T09:32:16Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}