pipeline/DynamicSchemaValidation.json
{
	"name": "DynamicSchemaValidation",
	"properties": {
		"activities": [
			{
				"name": "Get Metadata1",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "meta_data_dataset",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobFSReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Metadata1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Metadata1').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "dynamic_copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false,
								"translator": {
									"value": "@if( equals(item().name,'customers.csv'),pipeline().parameters.customers, \nif( equals(item().name,'drivers.csv'),pipeline().parameters.drivers, pipeline().parameters.trips)\n\n)",
									"type": "Expression"
								}
							},
							"inputs": [
								{
									"referenceName": "dynamic_csv_dataset",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "source",
										"folder_name": "dynamic",
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "dynamic_csv_dataset",
									"type": "DatasetReference",
									"parameters": {
										"container_name": "target",
										"folder_name": {
											"value": "@split(item().name,'.')[0]",
											"type": "Expression"
										},
										"file_name": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"parameters": {
			"customers": {
				"type": "object",
				"defaultValue": "{             \"type\": \"TabularTranslator\",             \"mappings\": [                 {                     \"source\": {                         \"name\": \"customer_id\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"customer_id\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     }                 },                 {                     \"source\": {                         \"name\": \"first_name\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"first_name\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     }                 },                 {                     \"source\": {                         \"name\": \"last_name\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"last_name\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     }                 },                 {                     \"source\": {                         \"name\": \"email\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"email\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     }                 },                 {                     \"source\": {                         \"name\": \"phone_number\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"phone_number\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     }                 },                 {                     \"source\": {                         \"name\": \"city\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"city\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     }                 },                 {                     \"source\": {                         \"name\": \"signup_date\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"signup_date\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     }                 },                 {                     \"source\": {                         \"name\": \"last_updated_timestamp\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     },                     \"sink\": {                         \"name\": \"last_updated_timestamp\",                         \"type\": \"String\",                         \"physicalType\": \"String\"                     }                 }             ],             \"typeConversion\": true,             \"typeConversionSettings\": {                 \"allowDataTruncation\": true,                 \"treatBooleanAsNumber\": false             }         }     },     \"inputs\": [         {             \"referenceName\": \"dynamic_csv_dataset\",             \"type\": \"DatasetReference\",             \"parameters\": {                 \"container_name\": \"source\",                 \"folder_name\": \"dynamic\",                 \"file_name\": \"customers.csv\"             }         }"
			},
			"trips": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "trip_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "customer_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "trip_start_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_start_time",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "trip_end_time",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_end_time",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "start_location",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "start_location",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "end_location",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "end_location",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "distance_km",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "distance_km",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "fare_amount",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "fare_amount",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "payment_method",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "payment_method",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "trip_status",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "trip_status",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			},
			"drivers": {
				"type": "object",
				"defaultValue": {
					"type": "TabularTranslator",
					"mappings": [
						{
							"source": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "driver_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "first_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "first_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_name",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_name",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "phone_number",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "phone_number",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "vehicle_id",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "driver_rating",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "driver_rating",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "city",
								"type": "String",
								"physicalType": "String"
							}
						},
						{
							"source": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							},
							"sink": {
								"name": "last_updated_timestamp",
								"type": "String",
								"physicalType": "String"
							}
						}
					],
					"typeConversion": true,
					"typeConversionSettings": {
						"allowDataTruncation": true,
						"treatBooleanAsNumber": false
					}
				}
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-06-07T07:28:44Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}